body {
  font-family: "Lato", sans-serif;
  height: 100%
  color: #111;
  line-height: 1.8;
}
nav{
  display: flex;
  justify-content: flex-start;
  background-color: #DDD; /*change the colour later*/
  /*can't get the nav bar to fill the length of the page!!!!*/
}
nav a{
  padding: 8px 16px;
  text-align: left;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  color: #111;
}
nav a:hover, nav a:active {
  color: #555;
  text-decoration: underline;
}
