body {
  font-family: "Lato", sans-serif;
  height: 100%
  color: #111;
  line-height: 1.8;
}
nav{
  display: flex;
  justify-content: flex-start;
  background-color: #DDD; /*change the colour later*/
  /*can't get the nav bar to fill the length of the page!!!!*/
}
nav a{
  padding: 8px 16px;
  text-align: left;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  color: #111;
}
nav a:hover, nav a:active {
  color: #555;
  text-decoration: underline;
}
.heading{
  display: flex;
  justify-content: space-between; /*new york city doesn't stay in the picture when the browser decrease in size*/
}
.nyu{
  width: 100%;

}
.centered{
  position:absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
}
article div{
  padding: 1em;
}
article{ /*spaces among the images are not evenly distributed*/
  display: grid;
  grid-gap: .25em;
  grid-template-areas:
  "empire friends sunset"
  "para1 para2 para3"
  "para1 para2 para3"
}

.empire{grid-area:empire;}
.friends{grid-area:friends;}
.sunset{grid-area:sunset;}
.para1{grid-area:para1;}
.para2{grid-area:para2;}
.para3{grid-area:para3;}
.border{border-style: groove;}

h3{ /*doesn't show as bold or big as I want it to be*/
  text-align: center;
  font-family: Lato;
  font-size: 27px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 23px;
}
p{
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}
